body{
    background-color: #fbfbff;
    margin: 0px;
    padding: 0px;
    font-family: 'Playfair';
}

button{
    text-transform: uppercase;
}

/* Hover */

.btn-atend:hover, .btn-banner:hover, .c-button:hover{
    background-color: #E6F0EF;
    border: 1px solid #00166F;
    color: #00166F;
    font-weight: 700;
}

.btn-menu:hover{
    background-color: #E6F0EF;
    border: 1px solid #1A417C;
    color: #1A417C;
    font-weight: 700;
}

.f-btn:hover{
    background-color: #c9cddd62;
    color: #ffff00;
}

/* Foco */

.btn-atend:focus, .btn-banner:focus, .c-button:focus{
    background-color: #E6F0EF;
    outline: 1px solid #00166F;
    color: #00166F;
    font-weight: 700;
}

.btn-menu:focus{
    background-color: #E6F0EF;
    outline: 1px solid #1A417C;
    color: #1A417C;
    font-weight: 700;
}

.f-btn:focus{
    background-color: #c9cddd62;
    color: #ffff00;
    outline: 1px solid #c9cddd62;
}

/* Menu */

nav{
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #dbdbfa;
    position: fixed;
    margin: 0;
    width: 100%;
}

.img-logo-div{
    width: 7vw;
    height: 0.2vh;
    margin-top: -2rem;
}

.logo{
    width: 100%;
    height: auto;
    margin-left: 3rem;
    display: block;
}

.menu{
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

.text-menu a{
    padding: 0px 2.6rem;
    color: #313F48;
    font-size: 1.2rem;
    text-decoration: none;
}

.text-menu a:hover{
    color: #00166F;
    text-decoration: underline;
}

.text-menu a:focus{
    color: #00166F;
    text-decoration: underline;
    outline: none;
}

.btn-menu{
    width: 10rem;
    padding: 1rem 1rem;
    background-color: #1A417C;
    border: 1px solid #1A417C;
    color: #E6F0EF;
    font-size: 1rem;
    border-radius: 5rem;
}

/* Banner */

.banner{
    display: flex;
    padding-left: 2.6rem;
    padding-top: 2.6rem;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.img-banner-div{
    width: 35rem;
    height: auto;
}

.img-banner{
    height: auto;
    margin-top: 2rem;
    width: 100%;
    
}

.dir-banner{
    width: 42rem;
}

.tit-banner{
    font-size: 3rem;
    color: #313F48;
    font-weight: 400;
}

.tit-banner::after{
    content: "";
    display: block;
    background-color: #00166F;
    height: 0.25rem;
    width: 2.5rem;
    margin-top: 0.2rem;
    margin-left: 0.8rem;
}

.sub-banner{
    color: #5A646C;
    font-weight: 400;
    font-size: 1.2rem;
}

.btn-banner{
    box-sizing: border-box;
    width: 15rem;
    height: 3.5rem;
    padding: 1rem;
    background-color: #00166F;
    color: #E6F0EF;
    font-size: 1.2rem;
    font-family: 'Playfair';
    border-radius: 0.4rem;
    border: 1px solid #00166F;
}

/* Seção Aderir / Comunicados*/
.fundo-escuro{
    background-color: #00166F;
    padding: 3rem 2rem 4rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    color: #c9cddd; 
}

.f-dir{
    width: 30%;
}

.f-tit{
    font-size: 2rem;
    font-family: 'Playfair';
    margin-bottom: -5px;
}

.f-desc{
    font-weight: 100;
    font-size: 1.2rem; 
}

.f-btn{
    width: 15rem;
    padding: 1.2rem 0.5rem;
    background-color: #c9cddd;
    color: #00166F;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 0.4rem;
    border: 1px solid #c9cddd;
    margin-top: 3rem;
}

/* Seção chat/atendimento */
.seções{
    padding: 1rem 5rem 1.2rem 15rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.se-caixas{
    display: flex;
    align-items: center;
    margin-left: 8vw;
    gap: 2rem;
}

.atendimento, .loren{
    width: 32rem;
    align-items: center;
}

.chat{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-right: 0;
}

.text-chat{
    margin-right: 2rem;
    margin-left: 8vw;
    margin-bottom: 2rem;
    width: 40%;
}

.img-chat{
    width: 100%;
}

.btn-atend{
    width: 15rem;
    padding: 1rem 0.5rem;
    background-color: #00166F;
    color: #E6F0EF;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    font-family: 'Playfair';
    border: 1px solid #00166F;
}

.divisor-dir{
    background-color: rgba(128, 182, 177, 0.30);
    box-sizing: border-box;
    height: 1px;
    width: 75%;
    border-radius: 0.4rem;
    margin-bottom: 20px;
    margin-left: 30%;
}

.divisor-esq{
    background-color: rgba(128, 182, 177, 0.30);
    box-sizing: border-box;
    height: 1px;
    width: 75%;
    border-radius: 0.4rem;
    margin-bottom: 20px;
    margin-left: -15%;
}

.t-secao{
    font-size: 2.2rem;
    color: #313F48;
    font-weight: 400;
}

.d-secao{
    color: #313F48;
    font-weight: 100;
    font-size: 1.2rem; 
    margin-bottom: 1.1rem;
}

.img-secoes {
    width: 20vw;
    height: auto;
    flex: 0 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
}

.img-secoes img,
.img-chat {
  width: 100%;
  max-width: 260px; /* limite máximo pra não ficar gigante */
  height: auto;
  display: block;
  border-radius: 50%; /* se quiser círculo */
  box-shadow: 0 6px 18px rgba(0,0,0,.12);
}
/* Seção comunicados */

.comunicados{
    padding: 1rem 0.5rem 3rem 0.5rem;
    background-color: #e4e4f17c;
    margin-bottom: -1.2px;
}

.comunicados-caixas{
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem
}

.c-tit{
    font-size: 3rem;
    font-family: 'Playfair';
    color: #313F48; 
    margin-bottom: 1rem;
    text-align: center;
}

.c-caixa{
    width: 25rem;
    border: 1px #00166F dotted;
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.4rem;
}

.c-caixa:hover{
    box-shadow: #00166F 0px 0.4rem 1rem;
}

.c-subtit{
    font-size: 1.8rem;
    color: #313F48;
    font-weight: 400;
    margin-top: 0px;
}

.c-text{
    color: #313F48;
    font-weight: 100;
    font-size: 1.2rem; 
    margin-bottom: 1.3rem;
}

.c-button {
    width: 15rem;
    padding: 1rem 0.5rem;
    background-color: #00166F;
    color: #E6F0EF;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    font-family: 'Playfair';
    border: 1px solid #00166F;
    margin-top: 0.8rem;
}

/* Footer */

footer{
    padding: 0px 0px;
    display: flex;
    background-color: #dbdbfa;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
}

.footer-logos{
    display: flex;
    gap: 3rem;
    color: #313F48;
    margin-top: 1rem;
}

.logos{
    height: 3rem;
}

.f-text{
    color: #313F48;
}

.s-footer a{
    color: #12548a;
    line-height: 1.5;
}

footer a:hover{
    color: #00166F;
    text-decoration: none;
}

footer a:focus{
    color: #00166F;
    text-decoration: none;
    outline: none;
}

.f-lis-li{
    list-style-type: none;
}

/*Mobile*/

@media(max-width: 600px){
    /* Menu */
    nav{
        position: static;
    }

    .img-logo-div{
        width: 10vw;
    }

    /* Banner */
    .banner{
        display: flex;
        flex-wrap: wrap;
    }

    .img-banner-div{
        width: 25rem;
        height: auto;
        margin-top: -3rem;
    }

    .dir-banner{
        margin-left: 3rem;
        width: 80%;
    }

    .tit-banner{
        font-size: 3rem;
        margin-top: -2.5rem;
    }

    .btn-banner{
        width: 85%;
    }

    /* Seção Aderir / Comunicados*/
    .fundo-escuro{
        background-color: #00166F;
        padding: 1rem;
        gap: 0.2rem;
        flex-wrap: wrap;
    }

    .f-dir{
        width: 80%;
        margin-left: 3rem;
        text-align: center;
    }

    .f-btn{
        width: 15rem;
        padding: 1.2rem 0.5rem;
        background-color: #c9cddd;
        color: #00166F;
        font-size: 1.2rem;
        font-weight: 700;
        border-radius: 0.4rem;
        border: 1px solid #c9cddd;
        margin-top: 0.5rem;
    }

    /* Seção chat/atendimento */
    .seções{
        padding-left: 5rem; 
        padding-right: 1rem; 
        width: 80%; 
    }

    .se-caixas{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }

    .se-caixas .chat .text-chat { 
        order: 2; 
        width: 100%; 
        padding: 0 1rem; 
        text-align: center; 
    }

    .img-secoes img, .img-chat {
        width: 80%;
        height: auto;
        margin-left: -150px;
        border-radius: 50%;
    }

    .img-secoes{
        margin-bottom: -20rem;
    }
    
    .loren, .chat, .atendimento{
        width: 80%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center
    }

    .divisor-dir, .divisor-esq{
        margin-bottom: 5%;
        margin-left: 10%;
        margin-top: 5%;
        width: 70%;
    }

    .img-secoes{
        width: 50%;
        height: auto;
        margin-left: 8rem;
        margin-bottom: -1rem;
    }

    .img-chat {
        order: 1;
        margin: 0 auto !important;
        display: block;
    }

      .img-secoes img, .img-chat img {
        width: 80% !important;
        min-width: 15rem;
        height: auto;
        display: block;
        align-items: center;
  }

    .chat {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .t-secao {
        order: 2;
        display: flex;
        margin: 0 !important;
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
        text-align: center !important;
        justify-content: center;
        align-items: center;
        width: 100% !important;
        font-size: 2rem;
    }

    .chat .t-secao {
        margin-left: -1.1rem !important;
        padding-left: 0 !important;
        padding-top: 1.3rem !important;
    }

    .d-secao {
        order: 3; 
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 0.5rem !important;
    }

    .btn-atend{
        margin-bottom: 1.5rem;
        margin-top: 1rem;
    }

    /* Seção comunicados */

    .comunicados-caixas{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 1rem;
    }

    .c-tit{
        font-size: 2rem;
    }

    .c-caixa{
        width: 20rem;
    }

    .c-subtit{
        font-size: 1.5rem;
    }

    .c-text{
        font-size: 1rem; 
    }

    .c-button {
        width: 100%;
        font-size: 1rem;
        font-weight: 700;
    }

    /* Footer */

    footer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 0rem;
        margin: 0 !important;
    }

    .footer-logos{
        display: flex;
        gap: 2rem;
        margin-bottom: 0rem;
    }

    .f-text{
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    ul{
        margin-left: 0px !important;
        padding-left: 0px !important;
        text-align: center;
        margin-bottom: 10px !important;
    }

    .f-lis-li{
        padding-top: 0.2rem;
        padding-bottom: 0.4rem !important;
        text-align: center;
    }

}